<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Matcha</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" ><i class="fa-solid fa-puzzle-piece"> Explore</i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa-regular fa-comments"></i> Chat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa-solid fa-bolt"></i> Crush</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-rainbow"></i> Profile
                    </a>
                    <div class="dropdown-menu">
                        {% set routeName = 'user.edit' %}
                        {% set routeUrl = path(routeName, {'id' : user.id}) %}
                        <a class="dropdown-item" href="{{ routeUrl }}"><i class="fa-regular fa-pen-to-square"></i> Edit Profile</a>
                        {% set routeName = 'user.edit.photos' %}
                        {% set routeUrl = path(routeName, {'id' : user.id}) %}
                        <a class="dropdown-item" href="{{ routeUrl }}"><i class="fa-solid fa-camera-retro"></i> Manage Photos</a>
                        {% set routeName = 'user.update.preferences' %}
                        {% set routeUrl = path(routeName, {'id' : user.id}) %}
                        <a class="dropdown-item" href="{{ routeUrl }}"><i class="fa-solid fa-heart-pulse"></i> Love Filters</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('security.logout') }}"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
                    </div>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-sm-2" type="search" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>