{% extends 'base.html.twig' %}

{% block title %}Matcha - Edit My Profile{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit Your Profile</h1>
        {{ form(form) }}

    </div>

{% endblock %}