{% extends 'base.html.twig' %}

{% block title %}Matcha - Change password{% endblock %}

{% set include_header = false %}

{% block body %}
    <div class="container mt-4">
        <h1 class="matchaRose">Matcha</h1>
        <h2>Choose a New Password</h2>
        <p>Please choose a new password for your account.</p>

        <hr>
        {{ form(form) }}
    </div>
{% endblock %}