{% extends 'base.html.twig' %}

{% block title %}Matcha - Change password{% endblock %}

{% set include_header = false %}

{% block body %}
<div class="container mt-4">
    <h1 class="matchaRose">Matcha</h1>

    {% for message in app.flashes('error') %}
        <div class="alert alert-error mt-4">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-4">
            {{ message }}
        </div>
    {% endfor %}

    <section>
        <h2>Password Forgotten?</h2>
        <p>To reset your password, please follow these simple steps:</p>

        <ol>
            <li><strong>Enter your username:</strong> Fill out the form with your username.</li>
            <li><strong>Receive the reset link:</strong> We will send you an email with a secure link to reset your password.</li>
            <li><strong>Choose a new password:</strong> Click on the link and enter a new, secure password.</li>
            <li><strong>Log in with your new password:</strong> Complete the process and log in with your new password.</li>
        </ol>

        <p>Be sure to check your inbox, including the spam folder, for the reset link.</p>

        <a href="{{ path('security.login') }}">
            <button class="btn btn-primary">
                <i class="fa-solid fa-arrow-left"></i> Back to Login
            </button>
        </a>
    </section>
    <hr>
    {{ form(form) }}
</div>
{% endblock %}